:root {
  --p50: #faf5ff;
  --p100: #f3e8ff;
  --p200: #e9d5ff;
  --p300: #d8b4fe;
  --p400: #e879f9;
  --p500: #a855f7;
  --p600: #9333ea;
  --p700: #7e22ce;
  --p800: #6b21a8;
  --p900: #581c87;
  --p950: #3b0764;
}
body {
  width: 100%;
}
.wrapper {
  margin: 20px auto;
  padding: 20px;
  background-color: var(--p100);
  width: 700px;
  height: 700px;
  display: grid;
}
.gameboard-wrapper {
  display: grid;
  grid-template-columns: 150px 150px 150px;

  justify-content: center;

 
}

.block {
  cursor: pointer;
  display: flex;
  border: none;
  background-color: var(--p100);
  align-items: center;
  justify-content: center;
  height: 150px;
  font-size: 4rem;
  font-weight: 600;
}

.row {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.center {
  border-left: 5px solid black;
  border-right: 5px solid black;
}
.winner {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e22ce;
  font-weight: 800;
  height: 50px;
}

.controller {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-wrapper button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #7e22ce;
  color: #faf5ff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.button-wrapper button:active {
  box-shadow: inset 1px 1px 5px black;
}
